Repository trim21-archive/pol: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, yapf, flake8, pyupgrade, autoflake, doc8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-case-conflict
      - id: check-ast
      - id: check-builtin-literals
      - id: check-byte-order-marker
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: debug-statements
      - id: trailing-whitespace
      - id: debug-statements
      - id: mixed-line-ending
        args: [--fix=lf]

      # check for file bigger than 500kb
      - id: end-of-file-fixer
      - id: double-quote-string-fixer
      - id: fix-encoding-pragma
        args: [--remove]

  - repo: https://github.com/Trim21/find-trailing-comma
    rev: v0.0.1
    hooks:
      - id: find-trailing-comma

  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: python
        types: [python]
        exclude: ^.circleci/

      - id: yapf
        name: yapf
        entry: yapf -i
        require_serial: true
        language: python
        types: [python]

      - id: flake8
        name: flake8
        entry: flake8
        language: python
        types: [python]
        args: ['--config=setup.cfg']

      - id: pyupgrade
        name: pyupgrade
        entry: pyupgrade
        require_serial: true
        language: python
        types: [python]
        args: ['--py36-plus',]

      - id: autoflake
        name: autoflake
        entry: autoflake
        require_serial: true
        language: python
        types: [python]
        args: ['--in-place',
               '--remove-unused-variables',
               '--remove-all-unused-imports']

      - id: doc8
        name: Check rst file
        language: python
        entry: doc8 --config setup.cfg
        files: \.rst$

pref(server): use new yield style Depends
  app/depends.py
  app/middlewares/http.py
  tests/app/test_depends.py
Due: isort, yapf, flake8, pyupgrade, autoflake

refactor: not remove marker when export deps
  .circleci/export_requirements.py
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: yapf, flake8, pyupgrade, autoflake

build: lock python version in dockerfile
  .docker/Dockerfile
Due: none

fix(server): disblae autolink in md2bbc
  app/md2bbc.py
  readme.md
Due: isort, yapf, flake8, pyupgrade, autoflake

fix(ci): mysql 5.7.28 is broken on circleci
  .circleci/config.yml
Due: none

fix(server): fix yield style depends
  app/depends.py
  tests/app/test_depends.py
Due: isort, yapf, flake8, pyupgrade, autoflake

test(server): test yield depends without ctx manager
  app/depends.py
  tests/app/test_depends.py
Due: isort, yapf, flake8, pyupgrade, autoflake

perf(server): disable gunicorn access logging
  etc/gunicorn.py
Due: isort, yapf, flake8, pyupgrade, autoflake

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

feat(server): log exception type to elk
  app/api/auth/api_v1/__init__.py
  app/api/bgm_tv_auto_tracker/api_v1/auth.py
  app/middlewares/log.py
Due: isort, yapf, flake8, pyupgrade, autoflake

build: update python version to 3.7.5
  .circleci/config.yml
  .docker/Dockerfile
Due: none

chore(deps): add renovate.json
  renovate.json
Due: none

chore: config renovate
  renovate.json
Due: none

Reconfigure Renovate
  renovate.json
Due: none

fix: renovate config
  renovate.json
Due: none

fix(deps-dev): pin dependencies
  poetry.lock
  pyproject.toml
Due: none

chore(deps-build): update deps-build docker tags
  .circleci/config.yml
  .docker/Dockerfile
Due: none

chore: renovate config
  renovate.json
Due: none

chore(deps-dev): update deps-dev
  poetry.lock
  pyproject.toml
Due: none

fix(deps-dev): update deps-prod
  poetry.lock
  pyproject.toml
Due: none

chore(deps-dev): update dependency flake8-comprehensions to v3
  poetry.lock
  pyproject.toml
Due: none

chore: update renovate config
  renovate.json
Due: none

Delete config.yml
  .dependabot/config.yml
Due: none

Update renovate.json
  renovate.json
Due: none

fix(website:bilibili): new api response
  app/video_website_spider/bilibili/bilibili.py
  app/video_website_spider/bilibili/model.py
Due: isort, yapf, flake8, pyupgrade, autoflake

fix(deps): update deps-prod
  poetry.lock
  pyproject.toml
Due: none

docs: for non developer
  app/middlewares/base.py
  data_manager/re_calculate_map.py
  docs/source/index.rst
  docs/source/not-developer.rst
  readme.md
Due: isort, yapf, flake8, pyupgrade, autoflake, doc8

fix(deps): update dependency gunicorn to v20
  poetry.lock
  pyproject.toml
Due: none

chore(ci): lock db version
  .circleci/config.yml
  renovate.json
Due: none

chore: config renovate bot
  .circleci/config.yml
  renovate.json
Due: none
